<ul>
<li>North American<br />
They asked “what is this ‘kerning’ that you speak of?”</li>
<li>British<br />
They asked ‘what is this “kerning” that you speak of?’</li>
<li>French<br />
They asked « what is this ‹ kerning › that you speak of? »</li>
<li>Danish<br />
They asked » what is this › kerning ‹ that you speak of? «</li>
<li>German<br />
They asked „what is this ‚kerning‘ that you speak of?“</li>
<li>Hungarian<br />
They asked „what is this »kerning« that you speak of?”</li>
<li>Spanish<br />
They asked «what is this “kerning” that you speak of?»</li>
<li>Swedish<br />
They asked ”what is this ’kerning’ that you speak of?”</li>
</ul>
<hr />
<p>This is just a sampling of the major forms.
Most of these are used in more than one country or
region and have variations beyond those given here.</p>
<p>From a typographical and type designer’s perspective,
it is pretty clear that one should expect any style of quote
to be used in any position, top-line or base-line, opening or closing,
forward or reversed, with or without space,
in obverse and reflected forms,
with quotes facing each other or with quotes facing the same way.</p>